// variables colors
$gray-medium-color: #737373;
$gray-light-color: #bdbdbd;
$gray-dark-color: #2c2c2c;
$red-color: #cc0001;
$red-accent-color: #ff383c;
$green-color: #23856d;
$light-color: #ffffff;

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
