@use '../../styles/variables' as var;

main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 70px;
  overflow-x: hidden !important;
}

.promo-banner-dark {
  background-color: var.$gray-dark-color;
}

.promo-banner-light {
  background-color: var.$light-color;
}

.brands-section {
  background-color: var.$light-color;
  background-repeat: no-repeat;
  background-size: 50% !important;
  box-shadow: 0 3px 7.5px rgba(0, 0, 0, 0.25);
}
